
// // {
// //   "presets" : ["@babel/preset-env","@babel/preset-react"]

// // }


// {
//   "presets": [
//     [
//       "@babel/env",
//       {
//         "targets": {
//           "node": "current"
//         }
//       }
//     ]
//   ],
//   "plugins": [
//     "@babel/plugin-proposal-class-properties",
//     "@babel/plugin-proposal-object-rest-spread"
//   ]
// }